@using System.Globalization
@using Calculator.Entities
@using MvcCalculator.Models
@model MvcCalculator.Models.CalcViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.FirstNumber)
            @Html.TextBoxFor(x => x.Action)
            @Html.TextBoxFor(x => x.SecondNumber)
        
        <input type="submit" value="="/>
            
        }
    </div>
    <div>
        <p>
            @ViewBag.CalculationResult
        </p>
    </div>
    <div>
        <table style="width:100%;">
            @foreach (CalculationActionDto record in ViewBag.CalculationHistory)
            {
                <tr>
                    <td>@record.FirstNumber</td>
                    <td>@record.ActionType</td>
                    <td>@record.SecondNumber</td>
                    <td>@(record.Result.HasValue
                        ? record.Result.Value.ToString(CultureInfo.InvariantCulture)
                        : "Division by zero")</td>
                </tr>    
            }
        </table>
    </div>
</body>
</html>
